.Comments {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 215px 8fr 5fr 204px;
  grid-template-areas: ". comments don .";
  justify-items: right;
  margin-top: 95px;
}

.comments {
  grid-area: comments;
}

.don {
  grid-area: don;
}

.buttonLoad {
  text-align: left;
  padding-left: 290px;
}

.buttonLoad button {
  outline: none;
  color: #F11B5D;
  font-size: 18px;
  border: none;
  background-color: #fff;
  font-weight: 700;
}

.input > input {
  outline:none;
  border: 1px solid #CFCFCF;
  padding: 20px; 
  font-size: 16px;
}

.input input::placeholder {
  color: #9A9A9A;
}

.uploadedImage {
  font-size: 18px;
  color: #F11B5D;
  margin-top: 23px;
}

.avatar {
  background: url('../../../assets/imgs/adam.png') no-repeat;
  width: 60px;
  height: 60px;
  display: inline-block;
}

.writeComment {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 24px;
}

/* -----------------------------------Media----------------------------------------------------------- */

/* __________For Phones__________ */

@media screen and (max-width: 600px) {
  .Comments {
    grid-template-columns: 5px auto 5px;
    height: min-content;
    justify-items: center;
    font-size: 5px;
  }
  
  .comments {
    grid-area: comments;
    grid-row: 1/5;
    justify-items: center;
    grid-column: 2/4;
  }
  
  .don {
    grid-row: 7/9;
    justify-items: center;
    grid-column: 2/4;
    width: 200px;
  }
  
  .buttonLoad {
    padding-left: 90px;
  }
  
  .buttonLoad button {
    font-size: 5px;
  }
  .input {
    width: 200px;
  }

  .input > input {
    padding: 5px; 
    font-size: 5px;
    width: 200px;
    margin-left: 20px;
  }
  
  .uploadedImage {
    font-size: 10px;
    margin-top: 10px;
    margin-left: 30px;
  }
  
  .writeComment {
    display: grid;
    grid-template-columns: repeat(2, 40px);
    grid-gap: 2px;
  }
}