.Comments {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 215px 8fr 5fr 204px;
  grid-template-areas: ". comments don .";
  justify-items: right;
  margin-top: 95px;
}

.comments {
  grid-area: comments;
}
.don {
  grid-area: don;
}

.buttonLoad {
  text-align: center;
}

.buttonLoad button {
  outline: none;
  color: #F11B5D;
  font-size: 18px;
  border: none;
  background-color: #fff;
  font-weight: 700;
}