.DonationsTable {
  display: grid;
  grid-template-rows: repeat(6, min-content);
  height: 770px;
  width: 482px;
  box-shadow: 0px 3px 11px #00000029;
}

.donationsTitle {
  padding: 0 15px;
}

/* -----------------------------------Media----------------------------------------------------------- */

/* __________For Phones__________ */

@media screen and (max-width: 600px) {
  .DonationsTable {
    height: 414px;
    width: 200px;
  }
}

/* __________For Tablet Landscape__________ */

@media (max-width: 1200px) and (min-width:900px) {
  .DonationsTable {
    height: 423px;
    width: 282px;
  }
  
  .donationsTitle {
    padding: 0 10px;
  }
}

/* __________For Desktop__________ */

@media (max-width: 1500px) and (min-width: 1200px) {
  .DonationsTable {
    height: 608px;
    width: 382px;;
  }
} 

