.header {
  grid-column: 1/-1;
  background-color: #ffffff;

  display: grid;
  grid-template-areas: '. menuToggle . searchIcon userIcon .';
  grid-template-columns: 71px 32px 1fr 32px 32px 86px;
  grid-column-gap: 10px;

  align-items: center;
}

.menuToggle {
  grid-area: menuToggle;
  
  background: url('../../../assets/icons/hamburger.svg') no-repeat;

  width: 40px;
  height: 40px;
}

.menuToggle button span {
  display: block;
  width: 32px;
  border: 1px solid #1A1A1A;
}

.menuToggle button span:hover {
  opacity: 1;
}

.searchIcon {
  grid-area: searchIcon;
  background: url('../../../assets/icons/magnifying-glass\ \(2\).svg') no-repeat;
  width: 32px;
  height: 20px;
}

.userIcon {
  grid-area: userIcon;
  background: url('../../../assets/icons/user\ \(3\).svg') no-repeat;
  width: 32px;
  height: 20px;
}

/* -----------------------------------Media----------------------------------------------------------- */

/* __________For Phones__________ */

@media screen and (max-width:600px) {
  .header {
    grid-column: 1/-1;
    background-color: #ffffff;
  
    display: grid;
    grid-template-areas: '. menuToggle . searchIcon userIcon .';
    grid-template-columns: 5px 20px auto 20px 20px 5px;
    grid-column-gap: 10px;
  
    align-items: center;
  }
}