.button {
  background-color: #000;
  color: #fff;
  width: 412px;
  height: 50px;
  box-shadow: 0px 3px 22px #00000070;
  border: none;
  opacity: 1;
  font-size: 15px;
  font-family: "Circular Book";
}

/* -----------------------------------Media----------------------------------------------------------- */

/* __________For Phones__________ */

@media screen and (max-width: 600px) {
  .button {
    width: 120px;
    height: 20px;
    font-size: 3px;
  }
  .buttonCenter {
    padding: 0 46px
  }
  
}

/* __________For Tablet Port__________ */

@media (max-width: 900px) and (min-width: 600px) {
  .button {
    width: 212px;
    height: 25px;
    font-size: 7px;
  }
}

/* __________For Tablet Landscape__________ */

@media (max-width: 1200px) and (min-width:900px) {
  .button {
    width: 210px;
    height: 30px;
    font-size: 7px;
  }
}


