.Navbar1 {
  background-color: #FFFFFF;
  display: grid;

  grid-template-columns: 215px 2fr 2fr 5fr 2fr 2fr 2fr;
  grid-template-areas: ". about comments . finishDate donatorsQuantity .";
  grid-gap: 10px;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: 0px 3px 13px #00000029;
  margin-top:0 ;
  margin-bottom: 10px;
}

.Navbar2 {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 215px 2fr 2fr 2fr 2fr 4fr 2fr 2fr 3fr 1fr;
  grid-template-areas: ". about uptades gallery comments . finishDate donatorsQuantity donatesnow .";
  grid-gap: 10px;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: 0px 3px 13px #00000029;
  margin-top:0 ;
  margin-bottom: 10px;
}

.invisible {
  display: none;
}

.navlinks {
  list-style: none;
}

.about {
  grid-area: about;
  padding: 15px;
}

li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

li a.active {
  font-weight: 900;
  color: rgb(0, 255, 13);
  background-color: green;
}

.uptades {
  grid-area: uptades;
}

.gallery {
  grid-area: gallery;
}

.comments {
  grid-area: comments;
  padding: 15px;
}

.finishDate {
  grid-area: finishDate;
  font-size: 25px;
  font-weight: 900;
}

.donatorsQuantity {
  grid-area: donatorsQuantity;
  font-size: 25px;
  font-weight: 900;
}

.donatesnow {
  grid-area: donatesnow;
}

.finish {
  font-size: 16px;
}

.donators {
  font-size: 16px;
}

/* -----------------------------------Media----------------------------------------------------------- */

/* __________For Phones__________ */

@media screen and (max-width: 600px) {
  .Navbar1 {
    grid-template-columns: 5px 2fr 2fr 5fr 2fr 2fr ;
    margin-bottom: 5px;
  }
  
  .Navbar2 {
    grid-template-columns: 5px 1fr 1fr 1fr 1fr 2fr 1fr 1fr  1fr;
    margin-bottom: 5px;
  }
  
  li a {
    font-size: 7px;
  }
  .donatesnow {
      grid-column: 7/ 10;
      margin-top: 20px;
  }

  .about {
    padding: 5px;
  }
  
  .uptades {
    padding: 5px;
  }
  
  .gallery {
    padding: 5px;
  }
  
  .comments {
    padding: 5px;
  }
  
  .finishDate {
    font-size: 6px;
  }
  
  .donatorsQuantity {
    font-size: 6px;
  }

  .finish {
    font-size: 5px;
  }
  
  .donators {
    font-size: 5px;
  }
}

/* __________For Tablet Port__________ */

@media (max-width: 900px) and (min-width: 600px) {
  .Navbar1 {
    grid-template-columns: 70px 2fr 2fr 5fr 2fr 2fr 2fr;
    grid-gap: 5px;
    margin-bottom: 5px;
  }
  
  .Navbar2 {
    grid-template-columns: 50px 1fr 1fr 1fr 1fr 2fr 1fr 1fr 3fr 1fr;
    grid-gap: 5px;
    margin-bottom: 5px;
  }
  
  li a {
    font-size: 10px;
  }

  .about {
    padding: 5px;
  }
  
  .uptades {
    padding: 5px;
  }
  
  .gallery {
    padding: 5px;
  }
  
  .comments {
    padding: 5px;
  }
  
  .finishDate {
    font-size: 8px;
  }
  
  .donatorsQuantity {
    font-size: 9px;
  }

  .finish {
    font-size: 5px;
  }
  
  .donators {
    font-size: 5px;
  }
}

/* __________For Tablet Landscape__________ */

@media (max-width: 1200px) and (min-width: 900px) {
  .Navbar1 {
    grid-template-columns: 100px 2fr 2fr 5fr 2fr 2fr 2fr;
    grid-gap: 5px;
    margin-bottom: 5px;
  }
  
  .Navbar2 {
    grid-template-columns: 70px 1fr 1fr 1fr 1fr 2fr 1fr 1fr 3fr 1fr;
    grid-gap: 5px;
    margin-bottom: 5px;
  }
  
  li a {
    font-size: 10px;
  }

  .about {
    padding: 10px;
  }
  
  .uptades {
    padding: 10px;
  }
  
  .gallery {
    padding: 10px;
  }
  
  .comments {
    padding: 10px;
  }
  
  .finishDate {
    font-size: 12px;
  }
  
  .donatorsQuantity {
    font-size: 12px;
  }

  .finish {
    font-size: 8px;
  }
  
  .donators {
    font-size: 8px;
  }
}

/* __________For Desktop__________ */

@media (max-width: 1500px) and (min-width: 1200px) {
  .Navbar1 {
    grid-template-columns: 100px 2fr 2fr 5fr 2fr 2fr 2fr;
    grid-gap: 5px;
    margin-bottom: 5px;
  }
  
  .Navbar2 {
    grid-template-columns: 70px 1fr 1fr 1fr 1fr 2fr 1fr 1fr 3fr 1fr;
    grid-gap: 5px;
    margin-bottom: 5px;
  }
  
  li a {
    font-size: 20px;
  }

  .about {
    padding: 10px;
  }
  
  .uptades {
    padding: 10px;
  }
  
  .gallery {
    padding: 10px;
  }
  
  .comments {
    padding: 10px;
  }
  
  .finishDate {
    font-size: 18px;
  }
  
  .donatorsQuantity {
    font-size: 18px;
  }

  .finish {
    font-size: 14px;
  }
  
  .donators {
    font-size: 14px;
  }
}